/* 基本樣式 */
.main_attendance_area {
    background-color: #f0f0f0; /* 淡色背景 */
    padding: 16px;
}

.attendance_chart {
    width: 80%;
    margin: 0 auto;
}

.staff_attendacne,
.leave_information,
.attendance_chart {
    background-color: #ffffff; /* 淡色背景 */
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 8px;
}

.attendance_calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.attendance_calendar input[type="button"] {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
}

#currentMonthLabel {
    font-size: 18px;
    font-weight: bold;
}

.attendance_chart canvas {
    width: 100% !important; /* 保證圖表在容器中佔滿 */
    height: auto !important; /* 高度自動調整以維持比例 */
}

/* PC裝置 */
@media (min-width: 768px) {
    .main_attendance_area {
        display: flex;
        flex-direction: column;
    }

    .attendance_calendar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .attendance_calendar input[type="button"] {
        padding: 10px 20px;
        margin: 0 10px;
        font-size: 16px;
        cursor: pointer;
    }

    #currentMonthLabel {
        margin-top: 10px;
    }

    .attendnace_information {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 16px; /* 添加間距 */
    }

    .attendance {
        display: flex;
        flex-direction: column;
        flex: 1; /* 使 attendance 占據剩餘空間 */
        gap: 16px; /* 添加間距 */
    }

    .staff_attendacne,
    .leave_information {
        background-color: #e8e8e8; /* 淡色背景 */
        padding: 16px;
    }

    .attendance_chart {
        background-color: #e9e9e9; /* 淡色背景 */
        flex: 1; /* 使 attendance_chart 占據剩餘空間 */
    }
}

/* 手機裝置 */
@media (max-width: 767px) {
    .main_attendance_area {
        display: block;
    }

    .attendance_calendar {
        margin-bottom: 16px;
    }

    .attendnace_information {
        display: block;
    }

    .attendance {
        display: block;
        margin-bottom: 16px;
    }

    .staff_attendacne,
    .leave_information,
    .attendance_chart {
        margin-bottom: 16px;
    }

    .attendance_chart {
        background-color: #ffffff; /* 淡色背景 */
    }
}
