/* 新增 user_name 的樣式 */
#user_name {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    cursor: default;
}

    #user_name:hover {
        background-color: #ddd;
        color: black;
    }

/* Bootstrap custom styles */
.navbar {
    margin-bottom: 20px;
}

/* Adjustments for small screens */
@media (max-width: 768px) {
    #user_name {
        width: 100%;
        text-align: center;
    }
}
